html {
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: #f8f8ff; /* 배경색을 연한 색으로 설정 */
}

.title {
  display: inline-block;
  width: 100%;
  font-family: "Poppins";
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1rem;

  color: var(--black-1);
}

/* 로그인 컨테이너 */
.login-container {
  width: 400px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: var(--bg-2);
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 그림자 효과 */
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333; /* 글자색 */
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 14px;
  margin-bottom: 10px; /* 입력칸 간격 */
}

.signupButton,
.oauth2btn {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 30;

  padding: 12px;
  border-radius: 12px;
  margin-top: 10px;
  background-color: rgb(45, 45, 45);
  color: white;
  border: none;

  cursor: pointer;
  font-size: 16px; /* 버튼 글자 크기 */
  transition: background-color 0.3s ease;
}

.logoutBtn {
  width: 150px;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #dedfe1;
  color: #585858;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16x; /* 버튼 글자 크기 */
  transition: background-color 0.3s ease;
}

.signupButton:hover {
  background-color: #333; /* 버튼 호버 시 색상 변경 */
}

.link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px; /* 글자 크기 */
}

h2 {
  margin-bottom: 5px; /* h2와 그 아래 요소 간격 조정 */
}

.sub {
  color: gray;
  margin-top: 0; /* p 태그의 기본 마진 제거 */
  margin-bottom: 20px; /* p 태그 아래 간격 추가 */
}

.link a {
  color: #007bff;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline; /* 링크 호버 시 밑줄 */
}

.email-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.verification-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

/* 인증 버튼 스타일 */
.verify-btn {
  width: 15%; /* 버튼 크기 조정 */
  border-radius: 12px;
  padding: 7px;
  background-color: black;
  color: white;
  border: none;

  cursor: pointer;
  font-size: 13px;
  margin-left: 10px; /* 입력창과 버튼 간 간격 */
}

.verify-btn:hover {
  background-color: #333; /* 버튼 호버 시 색상 변경 */
}

/* 확인 버튼의 스타일은 인증 버튼과 동일하게 유지 */
.verify-btn:active {
  background-color: #555; /* 버튼 클릭 시 색상 */
}
